*{
  margin: 0px;
}
h1{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
    font-size: 50px;
    border-color: black;
}
/* #mar{
  font-size: 30px;
  margin-top: 100px;
} */
body{
    background-color: rgb(9, 0, 0);
}
.head,.eye,.leftarm,.rightarm,.torso,.rightleg,.leftleg{
    background-color: rgb(107, 238, 131);
}
.border{
    display: flex;
    justify-content: center;
}
.Robot{
  margin-top: 100px;
}
.head{
     width: 200px;
    margin: 0 auto;
    height: 150px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 10px;
    position: relative;
}
.lefteye,.righteye{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 50px;
    position: absolute;
    background-color: aliceblue;
}
.eye{
    position: relative;
    top: 100px;
}
.lefteye{
    margin-left: 20px;
}
.righteye{
    margin-left: 120px;
}

  .upperbody {
    width: 300px;
    height: 150px;
    margin: 0 ;
    display: flex;
  }
  .leftarm,
  .rightarm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    margin-top: 20px;
  }
  
  .leftarm {
    margin-right: 10px;
  }
  .rightarm {
    margin-left: 10px;
  }
  .torso {
    width: 200px;
    height: 200px;
    border-radius: 0 0 50px 50px;
    transition: border-radius 1s;
  }
  
  .lowerbody {
    width: 200px;
    height: 200px;
    margin: 0 ;
  }
  
  .leftleg,
  .rightleg {
    width: 40px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    display: inline-block;
  }
  
  .leftleg {
    margin-left: 75px;
  }
  
  .rightleg {
    margin-left: 80px;
    position: absolute;
  }
  
  .border:hover .head{
    animation: movehead 2s infinite;
    
  }
  
  .border:hover .torso {
    border-radius: 40%;
    animation: movetorso 2s infinite;
  }
  
  .border:hover .leftarm {
    animation: moveleftarm 2s infinite;
  }
  
  .border:hover .rightarm {
    animation: moverightarm 2s infinite;
  }
  
  .border:hover .leftleg {
    animation: moveleftleg 2s infinite;
  }
  
  .border:hover .rightleg {
    animation: moverightleg 2s infinite;
  }
  @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 300px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 300px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }